.home {
  display: flex;
  margin-top: 4vw;
}
.spinner {
  flex: 9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2vw;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
  }
}
