.write {
  padding-top: 6vw;
  overflow-x: hidden;
}
.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 30vw;
  border-radius: 10px;
  object-fit: cover;
}
.writeForm {
  position: relative;
}
.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.fileIcon {
  width: 4vw;
  height: 4vw;
  font-size: 3rem;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.writeInput {
  font-size: 3rem;
  border: none;
  padding: 20px;
  width: 70vw;
  background-color: transparent;
}
.writeInput:focus {
  outline-style: none;
}
.writeText {
  width: 70vw;
  max-width: 70vw;
  height: 100vh;
  font-family: inherit;
  font-size: 2rem;
  background-color: #fff;
  margin-bottom: 20vw;
}
.writeSubmit {
  position: absolute;
  top: 18vw;
  right: 150px;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (max-width: 1270px) {
  .writeSubmit {
    top: 18vw;
    right: 90px;
  }
}
@media (max-width: 1060px) {
  .writeSubmit {
    top: 6vw;
    right: 90px;
  }
}

@media (max-width: 768px) {
  .write {
    width: 92vw;
    margin: 6vw auto 0 auto;
  }
  .writeImg {
    margin-left: 0;
    width: 92vw;
    height: 50vw;
    border-radius: 10px;
    object-fit: cover;
  }
  .writeFormGroup {
    margin-left: 0;
  }
  .writeInput {
    font-size: 2.2rem;
    margin-top: 0;
    padding: 10px;
    width: 92vw;
  }
  .writeSubmit {
    top: 38vw;
    right: 10vw;
    padding: 10px;
    font-size: 1.4rem;
    letter-spacing: 0.7px;
  }
  .fileIcon {
    width: 12vw;
    height: 12vw;
  }
  .writeText {  
    margin-top: 24vw;
    max-width: none;
  }
}

@media (max-width: 600px) {
  .writeText {  
    font-size: 1.6rem;
    line-height: 120%;
  }
}
