.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  width: 100vw;
  height: 5rem;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 5px 5px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 5px -4px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 5px -4px rgba(66, 68, 90, 1);
  font-family: 'Josefin Sans';
}

.list-wrapper {
  display: flex;
  flex: 10;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  font-size: 2rem;
}
.list-item {
  margin-left: 4rem;
  cursor: pointer;
}
.list-item:hover {
  color: rgb(55, 110, 60);
}

.right {
  display: flex;
  align-items: center;
  flex: 2;
  margin-right: 2vw;
}
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1.5rem;
}

.login {
  font-size: 2rem;
  cursor: pointer;
}
.login:hover {
  color: rgb(55, 110, 60);
}

.hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: 70vw;
  z-index: 200;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .list-wrapper,
  .right {
    display: none;
  }
}
