.header {
    width: 100vw;
    position: relative;
  }
  
  .headerImg {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
  
  .headerTitle {
    width: 20%;
    position: absolute;
    top: 15vh;
    right: 5vw;
  }
  
  .title {
    font-size: 3vw;
    color: white;
    font-family: 'Lora';
  }