.post {
  width: 43%;
  margin: 0 25px 40px 25px;
  display: flex;
  flex-direction: column;
}

.postImg {
  width: 100%;
  height: 27rem;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #be9656;
  line-height: 1.9rem;
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: 8px;
  margin-left: 10px;
  /* cursor: pointer; */
  align-self: flex-start;
}

.postTitle {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}
.postDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.postDate {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 400;
  color: #999;
}

.postDesc {
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #444444;
  margin-top: 15px;
  /* that below is to make text description only 4 lines and to make it end with a dots  */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
