.sidebar {
  position: sticky;
  top: 3vw;
  flex: 3;
  overflow: hidden;
  padding-bottom: 30px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.sidebarItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: solid 1px #a7a4a4;
  border-bottom: solid 1px #a7a4a4;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-weight: 600;
  color: #222;
  letter-spacing: 1px;
}
.sidebarItem > img {
  margin-top: 15px;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.sidebarList {
  list-style: none;
  margin-bottom: 30px;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  width: 50%;
  font-size: 1vw;
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  color: #633f06;
}
@media (max-width: 768px) {
  .noDisplay {
    display: none;
  }
  .extraStylesHomeSidebar {
    position: relative;
    flex-direction: row;
  }
  .extraStylesHomeSidebarListItem {
    font-size: 3vw;
  }
  .extraStylesHomeSidebarTitle {
    display: none;
  }
  .extraStylesHomeSidebarTitle + img {
    width: 34vw;
    height: 34vw;
    margin-bottom: 0rem;
  }
}
