* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fafafa;
  margin: 0 auto;
}

.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration:none ;
  color: inherit;
}
